<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- MODE -->
    <!-- "A" - CONFIG FILE MODE -->
    <!-- "C" - COMMAND LINE MODE -->
    <!-- MODE -->
    <add key="MODO" value="A"/>
    <!--  -->
    <add key="CHAVE" value="" />
    <add key="SEGREDO" value="" />
    <add key="BUCKET_NAME" value="your-bucket-name" />
    <!--  -->
    <add key="ENDPOINT" value="http://your-bucker-name.s3.amazonaws.com/" />    
    <!--  -->
    <add key="NOME_ARQUIVO" value="\site.bak" />
    <add key="CAMINHO_ARQUIVO" value="C:\backup\site.bak" />

    <add key="AWSAccessKey" value=""/>
    <add key="AWSSecretKey" value=""/>
    <add key="AWSRegion" value="us-east-1" />
    <add key="Bucket" value="your-bucket-name" />
  </appSettings>  
</configuration>
